.section__subHeader {
    color: hsl(43, 74%, 29%);
    text-shadow: 1px 2px 5px hsl(0, 0%, 73%);
    margin-top: 30px;
}

.section__paragraph {
    line-height: 1.5;
    text-align: justify;
}

.section__photo {
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
}