.table {
    border-collapse: collapse;
    width: 100%;
}

.table__cell {
    border: 1px solid black;
    padding: 15px 20px;
    text-align: center;
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    font-size: 13px;
}

.table__row:nth-child(odd) {
    background-color: hsla(33, 100%, 88%, 0.685);
}

.table__row:hover {
    color: chocolate;
}

